#chooser, table
{
	margin: auto;
	max-width: 49em;
}

th, td
{
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 7em;
	width: 7em;
	min-width: 7em;
}

.overflow
{
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 7em;
	max-height: 7em;
}


.black
{
	background-color: black;
}

#selected
{
	background-color: #DDD;
}

body
{
	text-align: center;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

p, h1
{
	margin: 0;
}

